<div class="container-fluid">
    <div class="Get all customers">
        <h5 class="card-header">Get details of all customers</h5>
        <div class="card-body">     
          <a routerLink='/getallcustomers' class="btn btn-primary">Get all customers</a>
        </div>
      </div>
    
      <div class="Create new customer">
          <h5 class="card-header">Create new customer</h5>
          <div class="card-body">        
            <a routerLink='/createnewcustomer' class="btn btn-primary">Create customer</a>
          </div>
        </div>
    
        <div class="Update a customer's details">
            <h5 class="card-header">Update a customer's details</h5>
            <div class="card-body">        
              <a routerLink="/updatecustomer" class="btn btn-primary">Update customer</a>
            </div>
          </div>
          <div class="Get customer by id">
              <h5 class="card-header">Get a customer's details</h5>
              <div class="card-body">        
                <a routerLink='/getcustomer' class="btn btn-primary">Get customer</a>
              </div>
            </div>
            <div class="Delete customer and his coupons">
                <h5 class="card-header">Delete a customer and his coupons</h5>
                <div class="card-body">        
                  <a routerLink='/deletecustomer' class="btn btn-primary">Delete customer</a>
                </div>
              </div>
            </div>