<div class="container-fluid">
    <h1> <span class="badge badge-secondary">Get company's details by ID, and than Update it.</span></h1>
    <br>
    <br>
    <br>
    <h4> <span class="badge badge-secondary">Please fill in the blank row</span></h4>
    <br>
    <form>
      <div class="form-group col-md-6" >
        <label for="inputName"><h5>id:</h5></label>
        <input type="number" class="form-control" value="{{company.id}}" [(ngModel)]="company.id" name="idnum" [(ngModel)]="_companySer.company2.id" id="idn">
      </div>
      <div >
          <!-- *ngIf="show" -->
          <form *ngIf="show">

              <fieldset >
                <div class="form-group col-md-6" >
                  <label for="inputName">name:</label>
                  <input type="text" class="form-control" value="{{_companySer.company.name}}" name="nametxt" [(ngModel)]="_companySer.company2.name" disabled>
                </div>
                <div class="form-group col-md-6" >
                    <label for="inputName">password:</label>
                    <input type="text" class="form-control" value="{{_companySer.company.password}}" name="passtxt" [(ngModel)]="_companySer.company2.password">
                  </div>
                  <div class="form-group col-md-6" >
                      <label for="inputName">email:</label>
                      <input type="text" class="form-control" value="{{_companySer.company.email}}" name="emailtxt" [(ngModel)]="_companySer.company2.email">
                    </div>
  
              </fieldset>
            </form>
          </div>
      <br>
      <br>
      <button (click)="getserv(); show=true;" class="btn btn-primary">Get!</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button *ngIf="show" (click)="_companySer.updatecompany();" class="btn btn-primary">Update!</button>
    </form>
        <div>
        
        </div>
  </div>