<div class="container-fluid">
    <div class="Get company">
        <h5 class="card-header">Get all coupons details</h5>
        <div class="card-body">     
          <a routerLink='/GetAllCoupons' class="btn btn-primary">Get all coupons</a>
        </div>
      </div>
    
      <div class="Create new company">
          <h5 class="card-header">Create new coupon</h5>
          <div class="card-body">        
            <a routerLink='/CreateCoupon' class="btn btn-primary">Create coupon</a>
          </div>
        </div>
    
        <div class="Update a company's details">
            <h5 class="card-header">Update a coupon's details</h5>
            <div class="card-body">        
              <a routerLink="/UpdateCoupon" class="btn btn-primary">Update coupon</a>
            </div>
          </div>
          <div class="Get company by id">
              <h5 class="card-header">Get coupon</h5>
              <div class="card-body">        
                <a routerLink='/GetCoupon' class="btn btn-primary">Get coupon</a>
              </div>
            </div>
            <div class="Delete company and company's coupon">
                <h5 class="card-header">Delete coupon </h5>
                <div class="card-body">        
                  <a routerLink='/RemoveCoupons' class="btn btn-primary">Delete coupon</a>
                </div>
              </div>
            </div>