<div class="container-fluid">
    <h1> <span class="badge badge-secondary">Get coupons by date</span></h1>
    <br>
    <br>
    <br>
    <h4> <span class="badge badge-secondary">Please choose the latest date you prefer and press "Get!"</span></h4>
    <br>
    <form>
      <div class="form-group col-md-6" >
        <label for="inputName"><h5>Date: </h5></label>
        <input type="date" class="form-control" [(ngModel)]="coupdate" name="idnum">
      </div>
        
      
        <br>
        <br>
        <div>
        <button (click)="_coupserv.getcouponsbydate(coupdate); show=true" class="btn btn-primary">Get!</button>
        </div>
        
        </form>
        <div class="container" *ngIf="show" >
    
              <div class="row" >
                <div class="col-md-4" *ngFor="let coup of _coupserv.coupons">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{coup.image}}" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Title: {{coup.title}}</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item" >Id: {{coup.id}}</li>
                          <li class="list-group-item">Amount: {{coup.amount}}</li>
                          <li class="list-group-item">End datend: {{coup.end_date}}</li>
                        </ul>
                        <div class="card-body">
                          <!-- <a routerLink="/UpdateCouponComponent">Update coupon</a> -->
                          <button type="button" class="btn btn-link">Link</button>
                          <!-- <a href="#" class="card-link">Another link</a> -->
                        </div>
                      </div>
                </div>
  
              </div>
            </div>
          </div>