<div class="container-fluid">
<div class="Get company">
    <h5 class="card-header">Get all company's details</h5>
    <div class="card-body">     
      <a routerLink='/getallcompanies' class="btn btn-primary">Get all companies</a>
    </div>
  </div>

  <div class="Create new company">
      <h5 class="card-header">Create new company</h5>
      <div class="card-body">        
        <a routerLink='/appcreatenewcompany' class="btn btn-primary">Create company</a>
      </div>
    </div>

    <div class="Update a company's details">
        <h5 class="card-header">Update a company's details</h5>
        <div class="card-body">        
          <a routerLink="/updatecompany" class="btn btn-primary">Update company</a>
        </div>
      </div>
      <div class="Get company by id">
          <h5 class="card-header">Get company</h5>
          <div class="card-body">        
            <a routerLink='/getcompany' class="btn btn-primary">Get company</a>
          </div>
        </div>
        <div class="Delete company and company's coupon">
            <h5 class="card-header">Delete company and company's coupon</h5>
            <div class="card-body">        
              <a routerLink='/deletecompany' class="btn btn-primary">Delete company</a>
            </div>
          </div>
        </div>